@import url(http://fonts.googleapis.com/css?family=Underdog&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(69, 126, 124);
  font-family: Helvetica, Arial;
}

.fill-w {
  width: 100%;
  min-width: 100%;
}


#user {
  padding: 2em 0em;
  display: block;
}


#user #user-picture {
  display: block;
  border-radius: 10px;
  width: 14.5em;
  height: 14.5em;
}


#columnchart_div {
    min-height: 600px;
    width: 100%;
    margin: 0px;
}


#donut_div {
    height: 500px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

#deletionchart_div {
    height: 500px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

img {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

pre {
  color: red;
  margin-top: -47%;
  margin-bottom: 47%;
  text-align: center;
}

.metanav {
  text-align: center;
}

.metanav ul {
  display: inline;
  /*margin: 10px;*/
  padding: 15px 4px 17px 0;
}

.metanav ul li {
  font: bold 12px/18px sans-serif;
  color: black;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.metanav ul li:hover {
  background: #555;
  color: #fff;
}
.metanav ul li ul {
  padding: 0;
  /*position: absolute;*/
  top: 48px;
  /*left: 0;*/
  /*width: 150px;*/
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.metanav ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}


.metanav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.metanav ul a {
  text-decoration: none;
  color: #000000;
}

.metanav ul a:hover {
  text-decoration: none;
  color:  #fff;
}

.page-wrap {
  width: 66.6%;
  margin-left: auto;
  margin-right: auto;


  font-size: 15pt;
  font-size: 2.5vw;

  min-height: 100%;

}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap p {
  text-align: right;
  color: rgb(58, 42, 17);
  line-height: 133.3%;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  max-width: 100%; width: 100%;
  max-height: 100%;
}

 .cover-img {
  image-rendering: pixelated;
  height: 40em;
  max-width: 100%; width: 100%;

}

.cover-h1 {
  margin-top: -25%;
  margin-bottom: 25%;
  text-align: center;
  font-weight: bolder;
  font-size: 48pt;
  font-size: 6vw;

  color: rgb(58, 42, 17);

  text-shadow: 6px 6px 0px rgba(0,0,0,0.25);

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
 }

 .info {
  display: block;
  font-size: 3em;
  text-align: center;
 }
