{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
    {%- endblock head %}
  </head>
  <body>
     {% block body -%}
     <div class="wrapper">

       <form action="stats" method="get">
         <p> Please enter your user</p>
         <input type="text" name="user"  value="{{ user }}">
         <p> Please enter your repo name</p>
         <input type="text" name="repo_name"  value="{{ repo_name }}">
         <!--    <p>
           <select name="info" value="{{ info }}">
             <option value="contributors">Contributors</option>
             <option value="languages">Languages</option>
             <option value="branches">Branches</option>
           </select>
         </p>
         -->
         <p><input type="submit" value="Get"/> <input type="reset" value="Clear"/></p>
       </form>
     </div>
    {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
