<!doctype html>
<head>
	<title>Git Stats</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Google Charts with Flask</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages':['corechart']});

      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data|tojson }}, false);
        var commits = google.visualization.arrayToDataTable({{ commits|tojson }}, false);
        var deletes = google.visualization.arrayToDataTable({{ deletions|tojson }});

        var columnchart = new google.visualization.BarChart(
                document.getElementById('columnchart_div'));
        var donutchart = new google.visualization.PieChart(
                document.getElementById('donut_div'));
        var deletionchart = new google.visualization.BarChart(
                document.getElementById('deletionchart_div'));

        columnchart.draw(data, {vAxis: {baseline: 0}});
        donutchart.draw(commits, {vAxis: {baseline: 0}, pieHole: 0.4});
        deletionchart.draw(deletes, {vAxis: {baseline: 0}});
      }
    </script>
</head>
	<div class=page>
      <h1>Git stats</h1>
      <div class="metanav">
        <ul><li><a href="{{ url_for("index") }}">Home</a></li>
          <li>About</li>  
          <li>
            Portfolio
            <ul>
              <li>Web Design</li>
              <li>Web Development</li>
            </ul>
          </li>
          <li>Blog</li>
          {% if not user %}
            <li><a href="{{ url_for("login") }}">Login</a></li>
          {% else %}
            <li><a href="{{ url_for("stats") }}">Statistic</a></li>
            <li>
              {{ user['name'] }}
              <ul>
                <li><a href="{{ url_for("logout") }}">Logout</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %}
          {% if user %}
          	<div id="user" class="{{ 'hidden' if not user }}">
              <div id="user-picture-column" class="small-4 columns">
                <img id="user-picture" src="{{ user['avatar_url'] if user }}" />
              </div>
            </div>
          	{% block body %}{% endblock %}
          {% endif %}
	  </div>
	</div>
</head>
