<!doctype html>
<head>
	<title>Git Stats</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Google Charts with Flask</title>
  {% block head %} {% endblock %}
</head>
<body>
  <div class="metanav">
    <ul>
      {% if not user %}
        <li><a href="{{ url_for("login") }}">Login</a></li>
      {% else %}
        <li>{{ user['name'] }}</li>
        <li><a href="{{ url_for("stats") }}">Statistic</a></li>
        <li><a href="{{ url_for("logout") }}">Logout</a></li>
      {% endif %}
    </ul>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
</div>
<pre>
 _____ _____ _____    _____ _____ _____ _____ _____
|   __|     |_   _|  |   __|_   _|  _  |_   _|   __|
|  |  |-   -| | |    |__   | | | |     | | | |__   |
|_____|_____| |_|    |_____| |_| |__|__| |_| |_____|

</pre>
{% block body %}{% endblock %}
</body>