{% extends "layout.html" %}
{% block body %}
    <title>Stats</title>
     {% if user %}
       <p>Hello {{ user }}!</p>
     {% else %}
       <p>No user </p>
     {% endif %}

     {% if repo %}
       <p>His repo: {{ repo }}</p>
     {% else %}
       <p>No repo</p>
     {% endif %}

     {% if languages and branches and contributors %}
       <p> List of languages used in repo</p>
       <ul>
         {% for item in languages %}
           <li>{{ item }}</li>
         {% endfor %}
       </ul>
       <p>List of contributors</p>
       <ul>
         {% for contributor in contributors %}
           <li>{{ contributor['url'] }}</li>
         {% endfor %}
       </ul>
        <p>List of branches</p>
        <ul>
          {% for branche in branches  %}
            <li>{{ branche['name'] }}</li>
          {% endfor %}
        </ul>
     {% endif %}
 {% endblock %}
