{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages':['corechart']});

      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data|tojson }}, false);
        var commits = google.visualization.arrayToDataTable({{ commits|tojson }}, false);
        var deletes = google.visualization.arrayToDataTable({{ deletions|tojson }});

        var columnchart = new google.visualization.BarChart(
                document.getElementById('columnchart_div'));
        var donutchart = new google.visualization.PieChart(
                document.getElementById('donut_div'));
        var deletionchart = new google.visualization.BarChart(
                document.getElementById('deletionchart_div'));

        columnchart.draw(data, {vAxis: {baseline: 0}, backgroundColor: { fill:'transparent' }});
        donutchart.draw(commits, {vAxis: {baseline: 0}, pieHole: 0.4, backgroundColor: { fill:'transparent' }});
        deletionchart.draw(deletes, {vAxis: {baseline: 0}, backgroundColor: { fill:'transparent' }});
      }
    </script>
{% endblock %}
{% block body %}
    {% if user %}
    	<div id="user" class="{{ 'hidden' if not user }}">
        	<div id="user-picture-column" class="small-4 columns">
         		<img id="user-picture" src="{{ user['avatar_url'] if user }}" />
        	</div>
      	</div>
    {% endif %}

    <div class="info">
        <a href="#repos">#Repos</a>
        <a href="#commits">#Commits</a>
        <a href="#additions">#Adds</a>
    </div>
    <img src="/static/4.png" class="cover-img">
    <a name="repos"></a>
    <h1 class="cover-h1">Your repos:</h1>
    <section class="page-wrap">
        <div id="columnchart_div"></div>
    </section>

    <img src="/static/3.png" class="cover-img">
    <a name="commits"></a>
    <h1 class="cover-h1">Commits by repo:</h1>
    <section class="page-wrap">
        <p> - Total number of commits: {{ total_commits }}</p>
        <div id="donut_div"></div>
        <p>{{ contrib_repo_commits }}</p>
        <p>{{ repos_stargazers }}</p>
    </section>

    <img src="/static/2.png" class="cover-img">
    <a name="additions"></a>
    <h1 class="cover-h1">Additions and deletions:</h1>
    <section class="page-wrap">
        <div id="deletionchart_div"></div>
    </section>

 {% endblock %}
